{%- import "macros.html" as scope -%}

{% extends "bootstrap/application.html" %}

{% block title %}
  {{ ledger.name }}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-9">
    <h1>{{ ledger.name }}</h1>
    <div class="row">
      <div class="col-md-3">
        <img class="img-fluid" src="{{ ledger.cover.url }}" alt="{{ ledger.cover.title }}" />
      </div>
      <div class="col-md-9">
        <figure>
          <blockquote class="blockquote">
            <p>{{ ledger.summary }}</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            {% call scope::tr(i18n, "form.fields.by.label") %} {{ ledger.owner.real_name }}
            <cite title="Date range">  
              {% call scope::tr(i18n, "form.fields.from.label") %} {{ from }}
              {% call scope::tr(i18n, "form.fields.to.label") %} {{ to }}          
            </cite>
          </figcaption>
        </figure>
      </div>
    </div>
    {% for ic in ledger.currencies.iter() %}
      <h2>{{ ic.inventory.currency.name }}({{ ic.inventory.currency.code }})</h2>
      <hr />      
      <div class="alert alert-info" role="alert">
        <span class="p-1">{% call scope::tr(i18n, "daffodil.fields.income.label") %}: {{ ic.inventory.income }}</span>        
        <span class="p-1">{% call scope::tr(i18n, "daffodil.fields.expense.label") %}: {{ ic.inventory.expense }}</span>        
        <span class="p-1">{% call scope::tr(i18n, "daffodil.fields.balance.label") %}: {{ ic.inventory.balance }}</span>
      </div>
      {% for ib in ic.bills.iter() %}
        <h3>{{ib.summary}}</h3>
        <div class="alert alert-light" role="alert">
          <span class="p-1">{% call scope::tr(i18n, "form.fields.category.label") %}: {{ ib.category }}</span>
          <span class="p-1">{% call scope::tr(i18n, "form.fields.merchant.label") %}: {{ ib.merchant }}</span>
          <span class="p-1">{% call scope::tr(i18n, "form.fields.amount.label") %}: {{ ib.amount }}</span>
          <br />
          <span class="p-1">{% call scope::tr(i18n, "form.fields.paid-by.label") %}: {{ ib.paid_by }}</span>
          <span class="p-1">{% call scope::tr(i18n, "form.fields.paid-at.label") %}: {{ ib.paid_at }}</span>
        </div>
        <div class="row">
          {% for ia in ib.attachments.iter() %}
            <div class="col-md-2">
              <a class="link-opacity-75" href="{{ ia.url }}" target="_blank">
                {% if ia.is_image() %}
                  <img class="img-fluid" src="{{ ia.url }}" alt="{{ ia.title }}" />
                {% else %}
                  {{ ia.title }}
                {% endif %}
              </a>              
            </div>
          {% endfor %} 
        </div>
      {% endfor %}  
    {% endfor %}
  </div>
  <div class="col-md-3">
    <h2>{% call scope::tr(i18n, "layouts.archives.label") %}</h2>
    <div class="list-group">
      {% for it in archives.iter() %}
        <a href="./{{ it }}" class="list-group-item list-group-item-action">
          {{ it }}
        </a>
      {% endfor %}
    </div>
  </div>
</div> 

{% endblock %}
