<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    {% include "bootstrap5/header.html" %}
  </head>
  <body>
    {% include "bootstrap5/nav-bar.html" %}
    <main>
      <div class="container">
        <div class="row">
          <h1>{{ ledger.label }}</h1>
          <figure class="text-end">
            <blockquote class="blockquote">
              <p>{{ ledger.memo }}</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              {% if let Some(s) =
              layout.locales.get("form.fields.updated-at.label") %} {{ s }} {%
              endif %} : {{ ledger.updated_at }}
              <cite title="{{ ledger.uid }}">{{ ledger.uid }}</cite>
            </figcaption>
          </figure>
        </div>
        {% for transaction in transactions %} {# transaction begin #}
        <div class="row">
          <div class="col-md-12">
            <h2>
              {{ transaction.memo }}
              <small class="text-body-secondary">
                {{ transaction.traded_at }}
                <u>{{ transaction.timezone }}</u>
              </small>
            </h2>
            <hr />
          </div>
        </div>
        {% for entry in transaction.entries %} {# entry begin #}
        <div class="row">
          <div class="col-md-4">
            <figure>
              <blockquote class="blockquote">
                <p>{{ entry.memo }}</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                {% if let Some(s) =
                layout.locales.get("form.fields.traded-at.label") %} {{ s }} {%
                endif %}:{{ entry.traded_at }}
                <cite title="{{ entry.timezone }}">{{ entry.timezone }}</cite>
              </figcaption>
            </figure>
            <ul>
              <li>
                {% if let Some(s) =
                layout.locales.get("pages.accounting.entries.form.fields.from-account.label")
                %} {{ s }} {% endif %}: {{ entry.from_account.label }}
              </li>
              <li>
                {% if let Some(s) =
                layout.locales.get("pages.accounting.entries.form.fields.to-account.label")
                %} {{ s }} {% endif %}: {{ entry.to_account.label }}
              </li>
              <li>
                {% if let Some(s) =
                layout.locales.get("form.fields.category.label") %} {{ s }} {%
                endif %}: {{ entry.category.label }}
              </li>
              <li>
                {% if let Some(s) =
                layout.locales.get("form.fields.merchant.label") %} {{ s }} {%
                endif %}: {{ entry.merchant.label }}
              </li>
              <li>
                {% if let Some(s) =
                layout.locales.get("form.fields.amount.label") %} {{ s }} {%
                endif %}: {{ entry.amount.currency.code}}
                <strong>{{ entry.amount.value }}</strong>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            {% for invoice in entry.invoices %} {# invoice begin #}
            <img
              src="{{ invoice.url }}"
              class="rounded img-thumbnail"
              alt="{{ invoice.title }}"
              onclick="window.open('{{ invoice.url }}', '_blank').focus();"
            />
            {% endfor %} {# invoice end #}
          </div>
        </div>
        {% endfor %} {# entry end #} {% endfor %} {# transaction end #}
      </div>
      {% include "bootstrap5/footer.html" %}
    </main>
  </body>
</html>
