[submodule "themes/hugo-universal"]
	path = themes/hugo-universal
	url = https://github.com/devcows/hugo-universal-theme.git
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/jekyll-al-folio"]
	path = themes/jekyll-al-folio
	url = https://github.com/alshedivat/al-folio.git
[submodule "loquat/vcpkg"]
	path = loquat/vcpkg
	url = https://github.com/microsoft/vcpkg.git
