<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>X-Corporation</title>
    <!-- web-fonts -->    
    <link href='/3rd/@fontsource/roboto/400.css' rel='stylesheet' type='text/css'>
    <link href='/3rd/@fontsource/roboto/700.css' rel='stylesheet' type='text/css'>
    <link href='/3rd/@fontsource/roboto/500.css' rel='stylesheet' type='text/css'>
    <link href='/3rd/@fontsource-variable/montserrat/wght.css' rel='stylesheet' type='text/css'>
    <!-- off-canvas -->
    <link href="/themes/x-corporation/css/mobile-menu.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="/themes/x-corporation/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="/themes/x-corporation/3rd/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- Style CSS -->
    <link href="/themes/x-corporation/css/style.css" rel="stylesheet">    
</head>
<body>


<!-- Script -->
<script src="/themes/x-corporation/js/jquery-2.1.4.min.js"></script>
<script src="/themes/x-corporation/3rd/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/themes/x-corporation/js/smoothscroll.js"></script>
<script src="/themes/x-corporation/js/mobile-menu.js"></script>
<script src="/themes/x-corporation/js/flexSlider/jquery.flexslider-min.js"></script>
<script src="/themes/x-corporation/js/scripts.js"></script>
</body>
</html>
