[Unit]
Description=MinIO offers high-performance, S3 compatible object storage.
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/lib/minio
ExecStart=/usr/local/bin/minio server data
Restart=always
RestartSec=10s
Environment="MINIO_SERVER_URL=https://assets.{{ app_deploy_domain }}"
Environment="MINIO_ADDRESS=127.0.0.1:{{ app_minio_port }}"
Environment="MINIO_CONSOLE_ADDRESS=127.0.0.1:{{ app_minio_console_port }}"
Environment="MINIO_ROOT_USER=root"
Environment="MINIO_ROOT_PASSWORD={{ app_minio_password }}"

[Install]
WantedBy=multi-user.target
