[Unit]
Description=A Protobuf-JSON proxy adapter for gRPC services
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
User=nobody
Group=nobody
WorkingDirectory=/opt/hyacinth
ExecStart=/opt/hyacinth/run.sh
Restart=always

[Install]
WantedBy=multi-user.target
