env = "production"
theme = "x-corporation"

secrets = "{{ app_fig_secrets }}"
cookie-key = "{{ app_fig_cookie_key }}"
jwt-key = "{{ app_fig_jwt_key }}"

[postgresql]
host = "{{ app_postgresql_host }}"
port = {{ app_postgresql_port }}
name = "{{ app_postgresql_name }}"
user = "{{ app_postgresql_user }}"
password = "{{ app_postgresql_password }}"

[redis]
namespace = "{{ app_redis_namespace }}"

[[redis.nodes]]
host = "{{ app_redis_host }}"
port = {{ app_redis_port }}

[rabbitmq]
host = "{{ app_rabbitmq_host }}"
port = {{ app_rabbitmq_port }}
user = "{{ app_rabbitmq_user }}"
password = "{{ app_rabbitmq_password }}"
virtual-host = "{{ app_rabbitmq_virtual_host }}"

[minio]
base-url = "https://assets.{{ app_deploy_domain }}"
access-key = "{{ app_minio_access_key }}"
secret-key = "{{ app_minio_secret_key }}"

[opensearch]
host = "{{ app_opensearch_host }}"
port = {{ app_opensearch_port }}
user = "{{ app_opensearch_user }}"
password = "{{ app_opensearch_password }}"
namespace = "{{ app_opensearch_namespace }}"
