Package: loquat
Version: 2025.12.5
Maintainer: Jeremy Zheng
Section: net
Priority: optional
Homepage: https://github.com/saturn-xiv/palm/tree/main/loquat
Architecture: all
Description: A smart router solution inspired by OpenWrt.
